{% if Order.Payment.getMethodClass == 'Plugin\\payjp4\\Service\\Method\\CreditCard' %}
    <script>
        $(function () {
            let paymentBox = $('.ec-orderPayment').first();
            paymentBox.append($('#payjp'))
        });
    </script>
    <div class="ec-orderPayment" id="payjp">
        <div class="ec-rectHeading">
            <h2>クレジットカード</h2>
            <div class="ec-input">
                <script
                        type="text/javascript"
                        src="https://checkout.pay.jp/"
                        class="payjp-button"
                        data-key="{{ payjp_public_key }}"
                        data-submit-text="トークンを作成する"
                        data-partial="true"
                        data-token-name="{{ form.payjp_token.vars.full_name }}">
                </script>
                {{ form_errors(form.payjp_token) }}
            </div>
        </div>
    </div>
{% endif %}
